/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.scoreboard.dark-mode {
    background-color: #212121;
}

.playerScore.dark-mode,
.robotScore.dark-mode {
    color: #ffffff;
}

.cell.dark-mode {
    background-color: #424242;
    color: #ffffff;
}

.btnScoreboard1.dark-mode,
.btnScoreboard2.dark-mode {
    box-shadow: transparent 0 0 0 3px, rgb(255, 255, 255) 0 6px 20px;
    background-color: rgb(9, 9, 9);
}