/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.scoreboard.dark-mode {
    background-color: #212121;
}

.playerScore.dark-mode,
.robotScore.dark-mode {
    color: #ffffff;
}

.cell.dark-mode {
    background-color: #424242;
    color: #ffffff;
}


body.dark-mode .btnScoreboard1,
body.dark-mode .btnScoreboard2 {
    box-shadow: transparent 0 0 0 2px, rgb(255, 255, 255) 0 2px 7px;
    background-color: rgb(9, 9, 9);
    color: white;
}

body.dark-mode .btnScoreboard1:hover,
body.dark-mode .btnScoreboard2:hover {
    box-shadow: #f93d3d 0 0 0 2px, transparent 0 0 0 0;
}