*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title{
  text-align: center;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

/* START -- Scoreboard */
.boardInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding-bottom: 0.3rem;
}

.btnRestart {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnRestart:hover {
  box-shadow: #f56565 0 0 0 2px, transparent 0 0 0 0;
}

.scores{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22rem;
}
/* END -- Scoreboard */

/* START -- Grid */
.container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

table {
  border-collapse: collapse;
}

td.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  border: 2px solid #f56565;
  cursor: pointer;
}
/* END -- Grid */

.endgame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}

.endgame .text {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

#btnAgain {
  margin-top: 10px;
}